{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block header %}
<div class="content">
	<h1><a href="/">{{ application_name }}</a> - <a href="/admin">Admin</a></h1>
</div>
{% endblock %}

{% block main %}
{{ msg }}
<fieldset id="export">
    <legend>Export</legend>
    <form action="admin/export" method="post">
        <label>After clicking 'Export' you will be prompted to save the datastore file.<button type="submit">Export</button></label>
    </form>
</fieldset>
<fieldset id="import">
    <legend>Import</legend>
    <form action="admin/import" method="post">
        <ol>
            <li><label>Select file to import: <input name="newFile" type="file" /></label></li>
            <li><label>Click to import from selected file<button type="submit">Import</button></li>
        </ol>
    </form>
</fieldset>
{% endblock %}

{% block footer %}
<!-- footer -->
{% endblock %}
