{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block main %}

{% if msg %}
<div id="message">
    {{ msg }}
</div>
{% endif %}

<fieldset id="export">
    <legend>Export</legend>
    <form action="admin/export" method="get">
        <label>Click 'Export' to display XML data: <input type="submit" value="Export" /></label>
    </form>
</fieldset>
<fieldset id="import">
    <legend>Import</legend>
    <form action="admin/import" method="post">
        <ol>
            <li><label>Select file to import:<input name="newFile" type="file" /></label></li>
            <li><label>Click to import from selected file:<input type="submit" value="Import" /></li>
        </ol>
    </form>
</fieldset>

<fieldset>
    <legend>Clear</legend>
    <form action="admin/clear" method="get">
        <label>Click 'Clear' to clear the datastore: <input type="submit" value="Clear" /></label>
    </form>
</fieldset>

<fieldset>
	<legend>Manage Users</legend>
	<form action="admin/manageUsers" method="get">
		<label>Manage the users: <input type="submit" value="Manage Users" /></label>
	</form>
</fieldset>

{% endblock %}

{% block footer %}
<!-- footer -->
{% endblock %}
