{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block header %}
<div class="content">
	<h1><a href="/">{{ application_name }}</a></h1>
</div>
{% endblock %}

{% block main %}
<form action="admin/export" method="get">
<button type="submit">Export</button>
</form>
<form action="admin/import" method="post">
<label>Select file to import: <input name="newFile" type="file" /></label>
<br />
<button type="submit">Import</button>
</form>
{% endblock %}

{% block footer %}
<!-- footer -->
{% endblock %}
