<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{{ application_name }}</title>
		<link href="/www/css/asn.css" type="text/css" rel="stylesheet"> 

		{% block head-links %}{% endblock %}

		<script type="text/javascript" src="/www/js/jquery.js"></script>
		<script type="text/javascript" src="/www/js/asn.js"></script>
		{% block head %}{% endblock %}

	</head>

	<body>
		<div id="container">
			<div id="header">
				<div class="content">
					<h1><a href="/">{{ application_name }}</a> <a href="{{ request.path }}">{{ title }}</a></h1>
					{% if subtitle %}
						<h2><p>{{subtitle}}</p></h2>
					{% endif %}
					<ul id="nav">
						<li><a href="/browse/">browse</a></li>
						{% if user %}
							{% ifequal user.userType 'ADMIN' %}
							<li><a href="/admin">admin tools</a></li>
							{% endifequal %}
							{% ifequal user.userType 'STUDENT' %}
							<li><a href="/student">student tools</a></li>
							{% endifequal %}
						<li><a href="/logout">logout</a></li>
						{% else %}
						<li><a href="/login">login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			{% if msg %}
				<div id="message" class="{% if msgstatus %}bad{% else %}good{% endif %}">
				    {{ msg }}
				</div>
			{% endif %}
			<div id="main">
				{% block main %} default main stuff {% endblock %}
			</div>
				{% if user and not surpressFooter %}
				    {% ifequal user.userType 'STUDENT' %}
            			<div id="footer">
    				    	<ul id="adders">
    				    		<li><a href="/student/new/Course">Add Course</a></li>
    				    		<li><a href="/student/new/Book">Add Book</a></li>
    				    		<li><a href="/student/new/Paper">Add Paper</a></li>
    				    		<li><a href="/student/new/Internship">Add Internship</a></li>
    				    		<li><a href="/student/new/PlaceStudy">Add Place to Study</a></li>
    				    		<li><a href="/student/new/PlaceLive">Add Place to Live</a></li>
    				    		<li><a href="/student/new/PlaceEat">Add Place to Eat</a></li>
    				    		<li><a href="/student/new/PlaceFun">Add Place to Have Fun</a></li>
    				    		<li><a href="/student/new/Game">Add Game</a></li>
    				    	</ul>
            			</div>
				    {% endifequal %}
				{% endif %}
		</div>
	</body>
</html>
