<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{{ application_name }}</title>
		<link href="/www/css/asn.css" type="text/css" rel="stylesheet"> 

		{% block head-links %}{% endblock %}

		<script type="text/javascript" src="/www/js/jquery.js"></script>
		<script type="text/javascript" src="/www/js/asn.js"></script>
		{% block head %}{% endblock %}

	</head>

	<body>
		<div id="container">
			<div id="header">
				<div class="content">
					<h1><a href="/">{{ application_name }}</a> - <a href="{{ request.path }}">{{ title }}</a></h1>
					{% if subtitle %}
						<h2><p>{{subtitle}}</p></h2>
					{% endif %}
					<ul id="nav">
						<li><a href="/">browse</a></li>
						{% if user %}
							{% ifequal user.userType 'ADMIN' %}
							<li><a href="/admin">admin tools</a></li>
							{% endifequal %}
							{% ifequal user.userType 'STUDENT' %}
							<li><a href="/student">student tools</a></li>
							{% endifequal %}
						<li><a href="/logout">logout</a></li>
						{% else %}
						<li><a href="/login">login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			{% if msg %}
				<div id="message">
				    {{ msg }}
				</div>
			{% endif %}
			<div id="main">
				{% block main %} default main stuff {% endblock %}
			</div>
			<div id="footer">
				{% if user %}
				    {% ifequal user.userType 'STUDENT' %}
				    	<ul id="adders">
				    		<li><a href="/new/Course">Add Course</li>
				    		<li><a href="/new/Book">Add Book</li>
				    		<li><a href="/new/Paper">Add Paper</li>
				    		<li><a href="/new/Internship">Add Internship</li>
				    		<li><a href="/new/PlaceStudy">Add Place to Study</li>
				    		<li><a href="/new/PlaceLive">Add Place to Live</li>
				    		<li><a href="/new/PlaceEat">Add Place to Eat</li>
				    		<li><a href="/new/PlaceFun">Add Place to Have Fun</li>
				    		<li><a href="/new/Game">Add Game</li>
				    		
				    	</ul>
				    {% endifequal %}
				{% endif %}
				{% block footer %}{% endblock %}
			</div>
		</div>
	</body>

</html>
