{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block main %}

    <div class='ratingtitle'>
    <h2>
        {{ ratable.name }}        
    </h2>
    <a class='add' href='/student/new/{{ratable.dbkey}}'>Add Rating</a>
    </div>
    



    {% if ratings %}
    <ul id="ratings">
        {% for rating in ratings %}
        <li class="rating">
            

			<span class="score">{{ rating.rating }} / 100</span>
			
            <p> {{rating.comment}} </p>
            
        </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}

{% block footer %}
<!-- footer -->
{% endblock %}
