{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block main %}

    <h2>
        {{ ratable.name }}        
    </h2>

    {% if ratings %}
    <ul id="ratings">
        {% for rating in ratings %}
        <li class="rating">
            

            <p>
                {{rating.comment}}
            </p>

            <span class="score">{{ rating.rating }} / 100</span>
            
        </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}

{% block footer %}
<!-- footer -->
{% endblock %}
