{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block main %}

    <div class='ratingtitle'>
        <span class='title'>
            {{ ratable.name }}
        <a class='add' href='/student/addrating/{{ratable.dbkey}}'>Add Rating</a>
        </span>
    </div>

    <br/>
    
    {% if ratings %}
    <ul id="ratings">
        {% for rating in ratings %}
        <li class="rating">
			<span class="score">{{ rating.rating }} / 100</span>
            <p> {{rating.comment}} </p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}

{% block footer %}
<!-- footer -->
{% endblock %}
