
<li class='rating'>
    <p class='name'>{{rating.name}} 
        <span class='avg'>
            {% ifequal rating.ratingCount 0 %} 
                No ratings
            {% else %}
                {{rating.rating}}% with {{rating.ratingCount}} rating{{rating.ratingCount|pluralize}}
            {% endifequal %}
        </span>
    </p>
    
    <span class='title'>
        <a class='rated' href='/ratable/{{rating.dbkey}}'>{{rating.name}}</a>
    </span>
    <br/>

{% if rating.avgGrade %}
    <span class='summary'>Average Grade: {{rating.avgGrade}}</span>
{% endif %}

{% if rating.author %}
    <span class='detail'>by {{rating.author}}</span>
{% endif %}

{% if rating.instructor %} 
    <span class='detail'>Instructor: {{rating.instructor}}</span>
{% endif %}

{% if rating.location %}
    <span class='detail'>At: {{rating.location}}</span>
{% endif %}

{% if rating.platform %}
    <span class='detail'>Platform: {{rating.platform}}</span>
{% endif %}

{% if rating.isbn %} 
    <span class='detail'>| ISBN: {{rating.isbn}}</span>
{% endif %}

{% if rating.semester %} 
    <span class='detail'>| Semester: {{rating.semester}}</span>
{% endif %}

    <div class='ratingbar {{rating.ratingClass}}' style="width: {{rating.rating}}%"></div>
</li>


