
<li class='rating'>
    <p class='name'>{{rating.type}}
        <span class='avg'>

{% if isStudentPage %} 
    Your Rating: {{rating.studentRating}}
{% else %}
    {% ifequal rating.ratingCount 0 %} 
        No ratings
    {% else %}
        {{rating.rating}}% with {{rating.ratingCount}} rating{{rating.ratingCount|pluralize}}
    {% endifequal %}
 {% endif %}
 
{% if isStudentPage %}
    <a href='/student/update/{{rating.dbkey}}'>(Edit)</a>
{% endif %}
        </span>
    </p>
    
    <span class='title'>
        <a class='rated' href='/ratable/{{rating.dbkey}}'>{{rating.name}}</a>
    </span>
    <br/>

{% if rating.avgGrade %}
    <span class='summary'>Average Grade: {{rating.avgGrade}}</span> <br/>
{% endif %}

{% if rating.studentGrade %}
    <span class='summary'>Your Grade: {{rating.studentGrade}}</span><br/>
{% endif %}

{% for detail in rating.details %}
    <span class='detail'>{% if not forloop.first %}| {% endif %}{{detail.prefix}} {{detail.data}}</span>
{% endfor %}

    <div class='ratingbar {{rating.ratingClass}}' style="width: {{rating.rating}}%"></div>
</li>


