{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block main %}
<ul id='studentcontrols'>
	<li><a href="/student/new/Course">Add Course</a></li>
	<li><a href="/student/new/Book">Add Book</a></li>
	<li><a href="/student/new/Paper">Add Paper</a></li>
	<li><a href="/student/new/Internship">Add Internship</a></li>
	<li><a href="/student/new/PlaceStudy">Add Place to Study</a></li>
	<li><a href="/student/new/PlaceLive">Add Place to Live</a></li>
	<li><a href="/student/new/PlaceEat">Add Place to Eat</a></li>
    <li><a href="/student/new/PlaceFun">Add Place to Have Fun</a></li>
	<li><a href="/student/new/Game">Add Game</a></li>

    <li class='userdata'>{{user.userType|lower|capfirst}}: {{user.uid}} </li>
    <li class='userdata'><a href='/student/password'>Change Password</a></li>
</ul>

<ul id="ratings">
    {% for rating in ratings %}
        {% include "rating.html" %}
    {% endfor %}
</ul>
{% endblock %}
{% block footer %}
<!-- footer -->
{% endblock %}
