{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block main%}

{%include "studentnav.html" %}

<h1>Password Change</h1>
{% if allowUnconditionalChange %}
    <form method='POST' class="custom" action='/student/password/'>
        <h2>Please replace your generated password with a new one</h2>
        <label>New Password
            <input type='password' name='new'/>
        </label>

        <label>Retype Password
            <input type='password' name='new2'/>
        </label>

        <input type='submit' value="Change Password" />
    </form>
{% else %}
    <form method='POST' class="custom" action=/student/password/'>
        <label>Old Password
            <input type='password' name='old'/>
        </label>

        <label>New Password
            <input type='password' name='new'/>
        </label>

        <label>Retype Password
            <input type='password' name='new2'/>
        </label>

        <input type='submit' value="Change Password"/>
    </form>
{% endif %}


<h1>Delete Account</h1>
    <p>
        <a class="delete" onclick='r =confirm("Are you sure you want to delete your account?"); if (!r) { return false; }' href='/student/deleteaccount/'>Delete Account</a>
    </p>
</h1>

</p>
{% endblock %}
