<div class='studentnav'>
<ul class='studentcontrols'>
    Add: 
	<li><a href="/student/new/Course">Course</a></li>
	<li><a href="/student/new/Book">Book</a></li>
	<li><a href="/student/new/Paper">Paper</a></li>
	<li><a href="/student/new/Internship">Internship</a></li>
	<li><a href="/student/new/Place-Study">Place to Study</a></li>
	<li><a href="/student/new/Place-Live">Place to Live</a></li>
	<li><a href="/student/new/Place-Eat">Place to Eat</a></li>
    <li><a href="/student/new/Place-Fun">Place to Have Fun</a></li>
	<li><a href="/student/new/Game">Game</a></li>


    <li class='userdata'><a href='/student/password'>Manage Account</a></li>
    <li class='userdata'>{{user.userType|lower|capfirst}}: {{user.uid}} </li>
</ul>   
</div>
