<li class='rating'>
<a href="/student/edit/{{ rating.rated.key }}">(edit)</a>
{% ifequal rating.rated.typename "Book" %}
    <p class='name'>Book <span class='avg'>
    {% ifequal rating.ratingCount 0 %} 
        No ratings
    {% else %}
        {{rating.rating}}% with {{rating.ratingCount}} rating{{rating.ratingCount|pluralize}}
    {% endifequal %}
    </span> 
    </p>
    <span class='title'>{{ rating.rated.title }}</span> <br/>
    <span class='detail'>by {{ rating.rated.author }}</span>
    <span class='detail'>| ISBN: {{ rating.rated.isbn }}</span> <br/>
{% endifequal %}


{% ifequal rating.rated.typename "Course" %}
    <p class='name'>Course <span class='avg'>
    {% ifequal rating.ratingCount 0 %} 
        No ratings
    {% else %}
        {{rating.rating}}% with {{rating.ratingCount}} rating{{rating.ratingCount|pluralize}}
    {% endifequal %}
    </span> 
    </p>
    <span class='title'>{{rating.rated.courseNum}} : {{ rating.rated.name }} ({{rating.rated.unique}})</span> <br/>
    <span class='summary'>Average Grade: {{rating.rated.avgGrade}} </span><br/>
    <span class='detail'>Instructor: {{ rating.rated.instructor }}</span>
    <span class='detail'>| Semester: {{ rating.rated.semester }} {{ rating.rated.year }} </span> <br/>
{% endifequal %}


{% ifequal rating.rated.typename "Paper" %}
<p class='name'> {{rating.rated.paperType|lower|capfirst}} <span class='avg'>
{% ifequal rating.ratingCount 0 %} 
    No ratings
{% else %}
    {{rating.rating}}% with {{rating.ratingCount}} rating{{rating.ratingCount|pluralize}}
{% endifequal %}
</span> 
</p>
<span class='title'>{{rating.title}}</span> <br/>
<span class='detail'>By: {{ rating.author }}</span>
{% endifequal %}

{% ifequal rating.rated.typename "Internship" %}
<p class='name'> Internship <span class='avg'>
{% ifequal rating.ratingCount 0 %} 
    No ratings
{% else %}
    {{rating.rating}}% with {{rating.ratingCount}} rating{{rating.ratingCount|pluralize}}
{% endifequal %}
</span> 
</p>
<span class='title'>{{rating.rated.name}}</span> <br/>
<span class='detail'>At: {{ rating.rated.location }}</span>
<span class='detail'>| Semester: {{ rating.rated.semester }} {{ rating.rated.year }} </span> 
{% endifequal %}

{% ifequal rating.rated.typename "PlaceLive" %}
<p class='name'> Living Place <span class='avg'>
{% ifequal rating.ratingCount 0 %} 
    No ratings
{% else %}
    {{rating.rating}}% with {{rating.ratingCount}} rating{{rating.ratingCount|pluralize}}
{% endifequal %}
</span> 
</p>
<span class='title'>{{rating.rated.name}}</span> <br/>
<span class='detail'>At: {{ rating.rated.location }}</span>
<span class='detail'>| Semester: {{ rating.rated.semester }} {{ rating.rated.year }} </span> 
{% endifequal %}

{% ifequal rating.rated.typename "PlaceEat" %}
<p class='name'> Eating Place <span class='avg'>
{% ifequal rating.ratingCount 0 %} 
    No ratings
{% else %}
    {{rating.rating}}% with {{rating.ratingCount}} rating{{rating.ratingCount|pluralize}}
{% endifequal %}
</span> 
</p>
<span class='title'>{{rating.rated.name}}</span> <br/>
<span class='detail'>At: {{ rating.rated.location }}</span>
<span class='detail'>| Semester: {{ rating.rated.semester }} {{ rating.rated.year }} </span> 
{% endifequal %}

{% ifequal rating.rated.typename "PlaceFun" %}
<p class='name'> Fun Place <span class='avg'>
{% ifequal rating.ratingCount 0 %} 
    No ratings
{% else %}
    {{rating.rating}}% with {{rating.ratingCount}} rating{{rating.ratingCount|pluralize}}
{% endifequal %}
</span> 
</p>
<span class='title'>{{rating.rated.name}}</span> <br/>
<span class='detail'>At: {{ rating.rated.location }}</span>
<span class='detail'>| Semester: {{ rating.rated.semester }} {{ rating.rated.year }} </span> 
{% endifequal %}


{% ifequal rating.rated.typename "PlaceStudy" %}
<p class='name'> Studying Place <span class='avg'>
{% ifequal rating.ratingCount 0 %} 
    No ratings
{% else %}
    {{rating.rating}}% with {{rating.ratingCount}} rating{{rating.ratingCount|pluralize}}
{% endifequal %}
</span> 
</p>
<span class='title'>{{rating.rated.name}}</span> <br/>
<span class='detail'>At: {{ rating.rated.location }}</span>
<span class='detail'>| Semester: {{ rating.rated.semester }} {{ rating.rated.year }} </span> 
{% endifequal %}


{% ifequal rating.rated.typename "Game" %}
<p class='name'> Game <span class='avg'>
{% ifequal rating.ratingCount 0 %} 
    No ratings
{% else %}
    {{rating.rating}}% with {{rating.ratingCount}} rating{{rating.ratingCount|pluralize}}
{% endifequal %}
</span> 
</p>
<span class='title'>{{rating.rated.title}}</span> <br/>
<span class='detail'>{{rating.rated.platform}} </span> 
{% endifequal %}
















































    <div class='ratingbar {{rating.ratingClass}}' style="width: {{rating.rating}}%"></div>
</li>


