{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block main%}

{%include "studentnav.html" %}

<p>
    <h1>Password Change</h1>
    <br/>

{% if allowUnconditionalChange %}
    <h2>Please replace your generated password with a new one</h2>
    <form method='POST' action='/student/password/'>
    <label>New Password</label>
    <input type='password' name='new'/>
    <br/>

    <label>Retype Password</label>
    <input type='password' name='new2'/>
    <br/>

    <input type='submit'/>
{% else %}
    <form method='POST' action=/student/password/'>
    <label>Old Password</label>
    <input type='password' name='old'/>
    <br/>

    <label>New Password</label>
    <input type='password' name='new'/>
    <br/>

    <label>Retype Password</label>
    <input type='password' name='new2'/>
    <br/>

    <input type='submit'/>
{% endif %}

    <br/><br/>
    <a onclick='r =confirm("Are you sure you want to delete your account?"); if (!r) { return false; }'
    href='/student/deleteaccount/'>Delete Account</a>

</p>
{% endblock %}
