
body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; color:#444444 ;}

#container {
	width:960px;
	margin:0 auto;
}

#header {
	border-bottom: 2px solid #444444;
	padding:1em 0;
}
	#header h1 {
		margin:0;
	}
	#header a {
		color:#444444;
		text-decoration:none;
	}
	#header a:hover {
		text-decoration:underline;
	}

#main {
	margin:2em 0 0;
}

	#message {
		background-color: #CCCCCC;
		border: 1px solid #444444;
		padding: 1em;
		margin-bottom: 1em;
	}

	#export, #import {
		background-color:#F2D9B1;
		border:1px solid #444444;
		margin: 0 0 1em;
		padding:1em;
	}
	
	#export input, #import input {
		font-weight:bold;
	}
	
	#export legend, #import legend {
		font-weight:bold;
	}
	
	#export button, #import button, #import input {
		margin-left:1em;
	}
	
	#import li {
		margin-bottom:1em;
	}