
body { 
    font:13px sans-serif; 
    *font-size:small; 
    *font:x-small; 
    line-height:1.22; 
    color:#444444;
}

#container {
    width:960px;
    margin:0 auto;
}

#header {
    border-bottom: 2px solid #444444;
    padding:1em 0;
    position:relative;
}
    #header h1 {
        margin:0;
    }

    #header h2 
    {
        margin: 0;
    }

#header h2 p 
{
    margin: 0px;
}

    #header a {
        color:#444444;
        text-decoration:none;
    }
    #header a:hover {
        text-decoration:underline;
    }
        #nav {
            position: absolute;
            right: 0px;
            margin:0;
            padding:0;
            top: 1em;
            list-style:none;
        }
            #nav li:first-child {
                margin:0;
                padding:0;
                border-left:0;
            }
            #nav li {
                display:inline;
                margin-left:0.75em;
                padding-left:1em;
                border-left:0.1em solid #444444;
            }

#xml {
    height: 38em;
    margin: 0px;
    padding: 1em;
    width: 85em;
}

#main {
    margin:2em 0 5em;
}

#footer {
    position:fixed;
    bottom: 0;
    width: 958px;
  	border-width: 1px 1px 0;
  	border-style: solid;
  	border-color: #999;
  	background-color : #CCCCCC;
}
    #footer adders {
    }
    	#adders li 
        {
            margin: 0px 10px 0px 0px;
    		display:inline;
		}
.aside {
    margin:1em 1em;
    font-size:1em;
    clear:both;
    display:block;
}

#message {
    background-color: #CCCCCC;
    border-width:0 1px 1px;
    border-style: solid;
    border-color: #444444;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom-left-radius: 0.2em 0.2em;
    border-bottom-right-radius: 0.2em 0.2em;
}

#login_form {
    padding: 1em 0 0 0;
}
#login_form input {
    border:0.1em solid #999999;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    color:#444444;
}
#login_form input[type=text], #login_form input[type=password] {
    padding:0.3em;
    margin-right:1em;
}
#login_form input[type=submit] {
    background-color:#CCCCCC;
    margin-right:1em;
}
#login_form form {
    display:block;
}
    #login {
        clear:both;
    }
    #other_actions {
        margin-top:2em;
    }
        #create_user {
            display:block;
            float:left;
        }
        #browse {
            display:block;
            float:left;
        }


#main fieldset {
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    background-color:#F2D9B1;
    border:1px solid #444444;
    margin: 0 0 1em;
    padding:1em;
}
#main fieldset input {
    font-weight:bold;
}
#main .userlist {
    list-style:none;
    padding:0;
}
    #main .userlist .userdel {
        width:10em;
        text-align:right;
    }

#main input[type=text], #main textarea, #main input[type=password], #main input[type=submit], #main input[type=file], #main select {
    border:0.1em solid #999999;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    color:#444444;
    background-color:#EEEEEE;
}

#main fieldset legend {
    font-weight:bold;
}

#main form.custom {
    width:40em;
    margin:0 auto;
    text-align:left;
    padding-left:0;
}
    #main form.custom label {
        display:block;
        text-align:right;
        clear:both;
        line-height:1.80em;
        margin-bottom:10px;
    }
        #main form.custom input[type=submit] {
            margin-left:17.75em;
            clear:both;
            margin-top:2em;
        }
        #main form.custom a.delete {
            margin-left:2em;
        }
        #main form.custom label input, #main form.custom label textarea, #main form.custom label select {
            width:20em;
            float:right;
            margin-left:1em;
            margin-right:9em;
            line-height:1.5em;
        }
        #main form.custom label select {
            width:20.5em;
        }
        #main form.custom label input {
            padding:0.25em;
        }
        #main form.custom label textarea {
            margin-top:2px;
            padding:0.25em;
            width:20em;
            height:50px;
        }

#main .studentcontrols {
    margin:0 0 2em;
    padding:0;
}
    #main .studentcontrols li {
        display:inline;
        margin-right:0.25em;
    }
    #main .studentcontrols li.userdata {
        float:right;
        margin-right:0;
        margin-left: 0.75em;
    }

#export input[type=submit], #import input[type=submit], #import input {
    margin-left:1em;
}

#import li {
    margin-bottom:1em;
}


.ratingtitle .title
{
    font-size: x-large;
    font-weight: bold;
}
.ratingtitle .add 
{
    font-size: medium;
    font-weight: normal;
    float: right;
    margin-left: 10px;
}

ul#ratings {
    margin: 1em 0px;
    padding: 0px;
}

#ratings li.rating {
    list-style: none;
    margin: 0px 0 10px 0px;
    padding: 0px 0px 10px 0px;
    border: 1px gray solid;
}

#ratings a.rated
{
    color: black;
    text-decoration: none;
}

#ratings a:hover.rated
{
    color: black;
    text-decoration: underline;
}

#ratings .ratingbar 
{
    margin: 0px 0px -10px 0px;
    padding: 0px;
    height: 5px;
}

#ratings .average 
{
    background-color: #E8BA05;
}

#ratings .bad 
{
    background-color: red;
}

#ratings .good 
{
    background-color: green;
}

#ratings .name 
{
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: large;
    color: gray;
}

#ratings .title 
{
    padding-left: 5px;
    font-size: large;
}

#ratings .detail
{
    padding-left: 5px;
    font-size: small;
    color: gray;
}

#ratings .summary 
{
    padding-left: 5px;
}

#ratings .avg
{
    float: right;
    padding-right:5px;
}
#student_forms form {
    float:left;
    display:block;
    width: 36.923em;
    margin-bottom:2em;
}
#student_forms form label {
    display:block;
    text-align:right;
    padding-right: 10em;
}
#student_forms form label input, #student_forms form label select {
    width: 20em;
    padding: 0em;
}
#student_forms form label select {
    width:20.5em;
}
#student_forms form input[type=submit] {
    margin-left: 11em;
}
.studentnav 
{
    width: 100%;
}

.studentnav ul.studentcontrols 
{
    margin: 0px 5px;
    border: 1px solid #999;
    margin: 0px;
    padding: 5px;
}

.studentnav li 
{
    display: inline;
    list-style: none;
    margin: 0px 5px 0px 0px;
}

.studentnav li.userdata 
{
    float: right;
}

.studentnav 
{
    width: 100%;
}

.studentnav ul.studentcontrols 
{
    margin: 0px 5px;
    border: 1px solid #999;
    margin: 0px;
    padding: 5px;
}

.studentnav li 
{
    display: inline;
    list-style: none;
    margin: 0px 5px 0px 0px;
}

.studentnav li.userdata 
{
    float: right;
}

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

